In [3]:
fact = "The Moon has no atmosphere."

In [4]:
fact + "No sound can be heard on the Moon."

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [5]:
fact

'The Moon has no atmosphere.'

In [6]:
two_facts = fact + "No sound can be heard on the Moon."

In [7]:
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [8]:
'The "near side" is the part of the Moon that faces the Earth'

'The "near side" is the part of the Moon that faces the Earth'

In [10]:
"We only see about 60% of the Moon's surface"

"We only see about 60% of the Moon's surface"

In [11]:
"We only see about 60% of the Moon's surface"

"We only see about 60% of the Moon's surface"

When the text has a combination of single and double quotation marks, you can use triple quotation marks to prevent problems with the interpreter:

In [13]:
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

In [15]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [16]:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""

In [17]:
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

### String methods

In [18]:
# title() 
"temperatures and facts about the moon".title()

'Temperatures And Facts About The Moon'

In [19]:
heading = "temperatures and facts about the moon"

In [20]:
heading.title()

'Temperatures And Facts About The Moon'

In [21]:
heading.upper()

'TEMPERATURES AND FACTS ABOUT THE MOON'

Split Strings

In [22]:
temperatures = """Daylight: 260 F
... Nighttime: -280 F"""

In [23]:
temperatures.split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [24]:
temperatures.split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [27]:
temperatures.split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [29]:
import re
sample_string = 'hi! my name is nik, welcome; to datagy'
split_string = re.split(r',|!|;', sample_string)
split_string

['hi', ' my name is nik', ' welcome', ' to datagy']

In [31]:
sample_string = 'hi! my name is nik, welcome; to datagy'
new_string = sample_string.replace('!', ',').replace(';', ',')
split_string = new_string.split(',')
print(split_string)

['hi', ' my name is nik', ' welcome', ' to datagy']

In [35]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius, 
... while Mars has -28 Celsius."""

In [36]:
temperatures.find('Moon')

-1

In [37]:
temperatures.find('Mars')

65

use the .count() method, which returns the total number of occurrences of a certain word in a string:

In [38]:
temperatures.count('Mars')

1

In [39]:
temperatures.count('Moon')

0

In [40]:
temperatures.count(' ')

13

### Check content

In [41]:
temperatures = "Mars Average Temperature: -60 C"

In [42]:
parts = temperatures.split(':')

In [43]:
parts

['Mars Average Temperature', ' -60 C']

In [44]:
parts[-1]

' -60 C'

In [50]:
parts[-2:2]

['Mars Average Temperature', ' -60 C']

In [51]:
mars_temperature = "The highest temperature on Mars is about 30 C"
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [52]:
'-56'.startswith('-')

True

In [53]:
"Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.".replace("Celsius", "C")

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [54]:
text = "Temperatures on the Moon can vary wildly."

In [55]:
"temperatures" in text

False

In [56]:
'temperatures' in text.lower()

True

In [58]:
moon_facts = ["The Moon is drifting away from the Earth.", "On average, the Moon is moving about 4cm every year"]

In [59]:
moon_facts

['The Moon is drifting away from the Earth.',
 'On average, the Moon is moving about 4cm every year']

In [60]:
''.join(moon_facts)

'The Moon is drifting away from the Earth.On average, the Moon is moving about 4cm every year'

In [64]:
new_string='\n'.join(moon_facts)
print(new_string)
# the newline character '\n' is used to join every item in the list.

The Moon is drifting away from the Earth.
On average, the Moon is moving about 4cm every year

In [63]:
new_string=''.join(moon_facts)
print(new_string)

The Moon is drifting away from the Earth.On average, the Moon is moving about 4cm every year

In [65]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [66]:
print(text)

Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

In [68]:
sentences = text.split('. ')
print(sentences)

['Interesting facts about the Moon', "The Moon is Earth's only satellite", 'There are several interesting facts about the Moon and how it affects life here on Earth', 'On average, the Moon moves 4cm away from the Earth every year', 'This yearly drift is not significant enough to cause immediate effects on Earth', 'The highest daylight temperature of the Moon is 127 C.']

In [77]:
for sentence in sentences:
   # print(sentence)
    if 'temperature' in sentence:
        print(sentence)

The highest daylight temperature of the Moon is 127 C.